.topbar {
  height: 85px;
  background-color: #012a4a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.floatbar {
  margin-top: 0px;
  height: 85px;
  background-color: white;
  border-bottom: 3px solid #e4e5ea;
  display: flex;
  align-items: center;
}

.dropfilter {
  display: flex;
  margin-left: auto;
  margin-right: 200px;
}

.logoContainer {
  margin-right: auto;
}

.logo {
  margin-left: 40px;
  width: 60px;
  height: auto;
}

.nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-right: 150px;
}

@media screen and (max-width: 950px) {
  .topbar {
    width: 950px;
  }

  .floatbar {
    width: 950px;
  }
}
